     *{
	   text-align: center;
        margin: 0;
        box-sizing: border-box;
        text-align: center;
    }
   body{
	   height:99vh;
	   font-size:calc(0.5em+2vw);
     font-size: calc(10px+1vh);

     position: relative;
    }
    header{font-size: 2em;
           height: 15% ;
           position: relative;
    }
    nav{ height: 6% ;}
    nav button{
        font-size: 1.2em;
       }
    button.small{
        width: 30%;
        padding: 0.1em 0.2em;  
    }
    button.big{
        width: 45%;
        padding: 0.1em 0.5em;  
    }
    main{
        margin-top: 1em;
        font-size: 1.6em;
        height: 60% ;
        position: relative;
    }
    main p#en{
        font-size: 1.6em;
        color:lightblue;
        text-shadow: 2px 2px gray ;
    }
    main p#pn{
        font-size: 1.2em;
        color:lightseagreen;
       }
   
    form button{
        font-size: 1.3rem ;
        margin-right: 1em;
    }
  
    span#level{
        display: block;
        position: absolute;
        right:20px;
        top:1px;
        color:blue;
        font-size: 0.5em;
    }
    p.cn{
      border:1px solid blue ;
      background-color: antiquewhite;
      cursor: pointer;
      font-size: 0.8em;
      margin-bottom: 0.2em;
    }
    p.cn.right{
      background-color: yellow;
      color: red ;
    }
    p.cn.wrong{
      background-color: gray;
      color:white;
    }
    p.cn:hover{
        color: blue ;
    }
    header span#response{
        font-size: 0.8em;
        color: red;
        position: absolute;
        right: 0.5em;
        top:2em;
    }
    p#log{
        background-color: gray;
        color: white;
        font-size: 0.65em;
        padding: 5px 10px;
        text-align: center;
    }
       p,button{
       	border-style: dashed;
       	border-color: aqua;
       	background-color: azure;
       	margin: 0;
       }
       header{
       	height: 25%;
       	background-color: aliceblue;
       }
       main{height: 65%;
       	background-color: aquamarine;}
       footer{height: 10%;
       	background-color: black;
       	color: aliceblue;}
     
        form{
            font-size: 1.2em;
            background-color: azure;
            position: absolute;
            width: 90%;
            height: 80%;
            left: 5% ;
            top: 10% ;
            border: 2px solid black;
        }
        form input{
            font-size: 1.2em;
        }
